extends ./lib/main/base.layout.jade
block content
  a(name='introduction')
  .jumbotron
    .container
      h1.text-center(style='margin: 0 auto; max-width: 900px'): small.
        A framework for creating #[strong native] cross-platform, 
        #[strong multi-process] desktop applications
  .container
    .row: .col-xs-12: .panel.panel-default: .panel-body
      .col-xs-12.col-md-5.text-center 
        h3 GelDesk turns this...
        img(src='lib/main/img/neon-json-375x425-opt.png' 
              width='375' height='425')
        img.hidden-xs.hidden-sm(
          src='lib/main/img/round-arrow-r-blue-40x40-opt.jpg' 
          style='margin-left:16px;'
          width='40' height='40')
      .col-xs-12.col-md-7.text-center 
        h3 into this...
        img(src='lib/main/img/natwin-600x425-opt.png' 
              width='600' height='425')
    p!= '&nbsp;'
    p.text-center
      a.bn.btn-primary.btn-lg(href=t('url.github') 
        role='button')!= 'GitHub &raquo;'
    p!= '&nbsp;'
    div(style='padding-left: 20px')
      h2 How it works
      p.
        #{t('site.description')}
      p!= '&nbsp;'
  a(name='features')
  .jumbotron: .container
    h1 Features
    p!= '&nbsp;'
    .row
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 1
          .panel-body
            img(src='lib/main/img/neon-json-230x180-opt.png' 
              width='230' height='180')
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 2
          .panel-body
            img(src='lib/main/img/neon-json-230x180-opt.png' 
              width='230' height='180')
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 3
          .panel-body
            img(src='lib/main/img/neon-json-230x180-opt.png' 
              width='230' height='180')
    .row
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 4
          .panel-body
            img(src='lib/main/img/neon-json-p2-230x180-opt.png' 
              width='230' height='180')
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 5
          .panel-body
            img(src='lib/main/img/neon-json-p2-230x180-opt.png' 
              width='230' height='180')
      .col-xs-12.col-md-4
        .panel.panel-primary
          .panel-heading: h3.panel-title Feature 6
          .panel-body
            img(src='lib/main/img/neon-json-p2-230x180-opt.png' 
              width='230' height='180')
    a(name='api')
    p!= '&nbsp;'
    h1 API
    p!= '&nbsp;'
    p
      ul
        li Stuff is going to work
        li Things will be listed here
        li This is just a temporary place-holder.
    p!= '&nbsp;'
    h2 Contribute to the project!
    p.
      Say some things here...
    p!= '&nbsp;'
    p.text-center
      a.bn.btn-primary.btn-lg(href=t('url.github') 
        role='button')!= 'GitHub &raquo;'
    p!= '&nbsp;'
