extends ./lib/main/base.layout.jade
block head
  title= t('site.title')
block content
  .jumbotron
    .container
      h1 #{t('site.greeting')} #{t('site.title')}!
      p!= '&nbsp;'
      p
        a.bn.btn-primary.btn-lg(href='https://github.com/geldesk' role='button')!= 'GitHub &raquo;'
      p!= '&nbsp;'
